<h3>Resistor color code</h3>
<button (click)="third = !third">Third Ring</button>
<div class="resistor">
  <div class="leg-start"></div>
  <div class="leg-end"></div>
  <div class="resistor-body resistor-body-start">
    <div
      class="ring ring1"
      [style.background-color]="resistor[0].color"
      (click)="a1 = !a1"
      [ngClass]="{ active: a1 }"
    >
      <div class="dropdown-content">
        <a
          *ngFor="let val of valuesList"
          [style.background-color]="val.color"
          [innerText]="val.value"
          (click)="setColors(0, val)"
        ></a>
      </div>
    </div>
  </div>
  <div class="resistor-body resistor-body-middle">
    <div
      class="ring ring2"
      [style.background-color]="resistor[1].color"
      (click)="a2 = !a2"
      [ngClass]="{ active: a2 }"
    >
      <div class="dropdown-content">
        <a
          *ngFor="let val of valuesList"
          [style.background-color]="val.color"
          [innerText]="val.value"
          (click)="setColors(1, val)"
        ></a>
      </div>
    </div>
    <div
      *ngIf="third"
      class="ring ring3"
      [style.background-color]="resistor[2].color"
      (click)="a3 = !a3"
      [ngClass]="{ active: a3 }"
    >
      <div class="dropdown-content">
        <a
          *ngFor="let val of valuesList"
          [style.background-color]="val.color"
          [innerText]="val.value"
          (click)="setColors(2, val)"
        ></a>
      </div>
    </div>
    <div
      class="ring ring4"
      [style.background-color]="resistor[3].color"
      (click)="a4 = !a4"
      [ngClass]="{ active: a4 }"
    >
      <div class="dropdown-content">
        <a
          *ngFor="let val of multiplierList"
          [style.background-color]="val.color"
          [innerText]="val.value"
          (click)="setColors(3, val)"
        ></a>
      </div>
    </div>
  </div>
  <div class="resistor-body resistor-body-end">
    <div
      class="ring ring5"
      [style.background-color]="resistor[4].color"
      (click)="a5 = !a5"
      [ngClass]="{ active: a5 }"
    >
      <div class="dropdown-content">
        <a
          *ngFor="let val of toleranceList"
          [style.background-color]="val.color"
          [innerText]="val.value"
          (click)="setColors(4, val)"
        ></a>
      </div>
    </div>
  </div>
  <h4>
    <span *ngIf="resistor[0] && resistor[1] && resistor[3]"
      >{{
        (third
          ? resistor[0].value + '' + resistor[1].value + '' + resistor[2].value
          : resistor[0].value + '' + resistor[1].value
        ) | formatNumber: resistor[3].value
      }}&#8486;</span
    >
    <span>&nbsp;&nbsp;</span>
    <span *ngIf="resistor[4]">{{ resistor[4].value }}</span>
    <br />
    <span>{{
      (third
        ? resistor[0].value + '' + resistor[1].value + '' + resistor[2].value
        : resistor[0].value + '' + resistor[1].value
      ) | eseries: third
    }}</span>
  </h4>
</div>
